<form action="/" method="ad">
  <label>Title</label>
  <input name="title"/>
  </br>
  <label>Description</label>
  <input name="description"/>
  </br>
  <label>Price</label>
  <input name="price"/>
  </br>
  <label>Date</label>
  <input name="date"/>
  </br>
  <label>is_active</label>
  </br>
  <select name="is_active">
    <option value="0">False</option>
    <option value="1">True</option>
  </select>
  </br>
  <label>Buyer</label>
  <input name="buyer"/>
  </br>
  <button type="submit">Submit</button>
</form>
